.canvas-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;
  user-select: none;

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem 0.0625rem rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}
