@use "@/styles/variables.scss" as *;

.canvas-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: $bg-page;
  user-select: none;

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    border-radius: 0.3125rem;
    box-shadow: $shadow-md;
    background-color: $white;
  }
}
