$primary-color: #6865d4;
$secondary-color: #e0dffc;
$third-color: #ececf3;
$fourth-color: #e0dffd;
$light-gray: #f5f7fa;
$medium-gray: #e0e6ed;
$dark-gray: #7f8c8d;
$text-color: #2c3e50;
$shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

$select-area-border-color: #6965db;
$select-area-background-color: rgba(105, 101, 219, 0.15);