@use "@/styles/variables.scss" as *;

.component-wrapper {
  position: relative;
  transition: outline 0.2s ease;
  box-sizing: border-box;

  // 内部组件填满 wrapper
  > *:first-child {
    box-sizing: border-box;
  }

  &.selected {
    outline: 2px solid $select-border !important;
    outline-offset: 0px;
  }

  // 多选时使用虚线边框
  &.multi-selected {
    outline: 1px dashed $select-border !important;
    outline-offset: 0px;
  }

  &.locked {
    opacity: 0.6;
    cursor: not-allowed;
  }

  // 预览模式：无选中边框，无锁定样式
  &.preview {
    outline: none !important;
    cursor: default;
    opacity: 1;
  }

  .component-inline-editor {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    border: 2px solid $select-border;
    border-radius: 2px;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: 4px 6px;
    resize: none;
    outline: none;
    z-index: 10;
    box-sizing: border-box;
  }
}
