@use "@/styles/variables.scss" as *;

.custom-select {
  position: relative;
  display: inline-block;
  min-width: 5.625rem;

  .select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem .625rem;
    border: .0625rem solid $border-color;
    border-radius: .3125rem;
    background-color: $white;
    cursor: pointer;
    transition: all .3s ease;
    font-size: .625rem;

    &:hover {
      border-color: $primary-light;
    }

    &.open {
      border-color: $primary-color;
      box-shadow: 0 .0625rem .125rem rgba($primary-color, 0.2);
    }

    .select-text {
      flex: 1;
      color: $gray-900;
    }

    .select-arrow {
      margin-left: .25rem;
      font-size: .625rem;
      color: $gray-500;
      transition: transform .3s ease;
      
      &.up {
        transform: rotate(180deg);
      }
    }

    &.open .select-arrow:not(.up) {
      transform: rotate(180deg);
    }
  }

  .select-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    background-color: $white;
    border: .0625rem solid $border-color;
    border-radius: .3125rem;
    box-shadow: $shadow-md;
    z-index: $z-dropdown;
    max-height: 200px;
    overflow-y: auto;

    &.down {
      top: 100%;
      margin-top: .3125rem;
    }

    &.up {
      bottom: 100%;
      margin-bottom: .3125rem;
    }

    .select-option {
      margin: .125rem .25rem;
      padding: .375rem .5rem;
      cursor: pointer;
      font-size: .625rem;
      color: $gray-900;
      transition: background-color .2s ease;
      border-radius: .25rem;

      &:hover {
        background-color: $primary-bg;
      }

      &.selected {
        background-color: $primary-light;
        color: $primary-color;
      }

      &:first-child {
        margin-top: .3125rem;
      }

      &:last-child {
        margin-bottom: .3125rem;
      }
    }

  }
}
