@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1767113024451') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia:before {
  content: "\f02a9";
}

.icon-xiangshang:before {
  content: "\f02aa";
}

.icon-xiazai:before {
  content: "\e63e";
}

.icon-bangzhu:before {
  content: "\e654";
}

.icon-quanping:before {
  content: "\e660";
}

.icon-suoxiao:before {
  content: "\e661";
}

.icon-wangyequanping:before {
  content: "\e670";
}

.icon-wangyesuoxiao:before {
  content: "\e671";
}

.icon-xiangyouzhankai:before {
  content: "\e8a7";
}

.icon-xiangzuoshouqi:before {
  content: "\e8a8";
}

.icon-shezhi:before {
  content: "\e643";
}

.icon-fuzhi:before {
  content: "\e618";
}

.icon-tjg:before {
  content: "\e61b";
}

.icon-wenjian:before {
  content: "\e61d";
}

.icon-gengxin:before {
  content: "\e628";
}

.icon-zhiding:before {
  content: "\e62a";
}

.icon-fenzu:before {
  content: "\e629";
}

.icon-fuzhilianjie:before {
  content: "\e62c";
}

.icon-zhuashou:before {
  content: "\e640";
}

.icon-fabu:before {
  content: "\e633";
}

.icon-shubiaojiantou:before {
  content: "\e748";
}

.icon-shiyingpingmu:before {
  content: "\e603";
}

.icon-quark-yi-bi-yi:before {
  content: "\e6dd";
}

