@use "@/styles/variables.scss" as *;

.toolbar {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  width: calc(100% - 2rem);
  right: 1rem;
  bottom: 1rem;

  &-left,
  &-right {
    display: flex;
    background-color: transparent;
    transition: all 0.3s ease;

    &-items {
      display: flex;
      overflow: hidden;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.25rem;
        cursor: pointer;
        background-color: $white;
        border-top: .0313rem solid $border-color;
        border-bottom: .0313rem solid $border-color;

        i.iconfont {
          font-size: .875rem;
          color: $gray-500;
        }

        &:hover {
          background-color: $gray-100;
        }

        &:first-child {
          border-radius: 0.25rem 0 0 0.25rem;
          border-left: .0313rem solid $border-color;
        }

        &:last-child {
          border-radius: 0 0.25rem 0.25rem 0;
          border-right: .0313rem solid $border-color;
        }

        &.active {
          background-color: $primary-light;
          i.iconfont {
            color: $primary-color;
          }
        }

        &.disabled {
          cursor: not-allowed;
          opacity: 0.4;
          &:hover {
            background-color: $white;
          }
        }
      }
    }
  }

  &-left {
    margin-left: .125rem;

    &-items {
      margin-left: .125rem;
    }
  }

  &-right {
    margin-left: auto;
    margin-right: .125rem;

    &-items {
      margin-right: .125rem;
    }

    &-scale-btn-input {
      width: 5rem !important;
      height: 100%;
    }
  }

  &-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    background-color: $white;
    border-radius: 0 0.25rem 0.25rem 0;
    border: .0313rem solid $border-color;
    cursor: pointer;

    &:hover {
      background-color: $gray-100;
    }

    i.iconfont {
      font-size: .625rem;
      color: $gray-500;
    }
  }
}
