@use "@/styles/variables.scss" as *;

.selection-bounds {
  border: 2px dashed $select-border;
  background-color: $select-bg;
  z-index: $z-selection-bounds;
  user-select: none;

  &.dragging {
    background-color: rgba($primary-color, 0.1);
  }
}
