@use "@/styles/variables.scss" as *;

.canvas-selection {
  position: absolute;
  background-color: $select-area-background-color;
  border: 1px solid $select-area-border-color;
  z-index: $z-canvas-selection;
}
