.editor {
  flex: 1;
  position: relative;
  display: flex;
  overflow: hidden;
  .canvas-hand-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: auto;
    background-color: transparent;
  }
}